@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 40px;
}

p {
	color: darkgray
}

.hire-btn,
.resumebtn-btn {
	color: #fff;
	background-image: linear-gradient(45deg, lightsalmon, tomato);
	text-decoration: none;
	font-size: 18px;
	border: none;
	padding: 8px 16px;
	border-radius: 8px;
	display: inline-block;
	margin: 12px 0px;
}

.welcome-section,
.dream-section,
.expreance-section {
	min-height: 500px;
	margin-bottom: 100px;
}

.half-width {
	width: 40%;
	float: left;
	margin-left: 5%;
	padding-left: 2%
}

.half-width img {
	width: 100%;
}

/*welcome-section */
.welcome-section {
	background-image: url("images/backgroung-img/top-banner.png");
	background-repeat: no-repeat;
}

.name-hightlight {
	color: orange;
}

/*dream-section*/
.dream-section {
	background-image: url("images/backgroung-img/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}

/*expreance-section*/
.expreance-section {
	background-image: url("images/backgroung-img/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}

#exp-border,
#baby-border {
	border-left: 7px solid;
	box-shadow: 10px 10px 40px gray;
}

#exp-border {
	border-image: linear-gradient(180deg, tomato, lightsalmon);
	border-image-slice: 1;
}

#baby-border {
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice: 1;
}

/*footer section */
footer {
	color: darkgray;
	text-align: center;
	font-size: 15px;
}


/*responsive remember: always set big screen size at first*/
@media (max-width: 768px){

	.welcome-section,
	.dream-section,
	.expreance-section {
		padding: 25px;
	}

	.half-width {
		width: 90%;
		float: none;
		margin: 0;
		padding: 20px;
	}

	.half-width img {
		width: 90%;
	}

	.expreance-section h1 {
		text-align: center;
	}

	.expreance-section .half-width {
		margin-bottom: 30px
	}
}


@media (max-width: 576px) {

	.welcome-section,
	.dream-section,
	.expreance-section {
		padding: 25px;
	}

	.half-width {
		width: 90%;
		float: none;
		margin: 0;
		padding: 20px;
	}

	.half-width img {
		width: 90%;
	}

	.expreance-section h1 {
		text-align: center;
	}

	.expreance-section .half-width {
		margin-bottom: 20px
	}
}